@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   overflow-x: hidden;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("hamber/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 90vh;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu-icon{
   display: none;
}

.tittle{
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 7rem;
}

nav a{
    text-decoration: none;
    margin-right: 3rem;
    color: white;
    cursor: pointer;
}

nav a:hover{
    border: 2px solid rgb(255, 173, 21);
    border-radius: 25px;
    padding: 5px;
}

.redes img{
    background-color: #fff;
    margin-right: 2rem;
    border-radius: 25px;
    padding: 4px;
    height: 18px;
    cursor: pointer;
}

.redes img:hover{
   background-color: yellow;
}

.header-fondo{
   margin-top: 7rem;
   width: 400px;
   text-align: center;
}

.header-fondo h1{
    font-size: 3rem;
    position: relative;
    margin-bottom: 70px;
}

.header-fondo span{
    margin: 0;
    font-size: 1.5em;
    color: rgb(245, 223, 25);
    position: absolute;
    top:40px;
    right: 50px;
}

.header-fondo span:hover{
    color: rgb(231, 25, 25) ;
}

header button{
    margin-top: 1.5rem;
    border-radius: 1.2rem;
    width: 100px;
    height: 30px;
    background-color: rgb(245, 223, 25); 
    font-weight: 800;
    box-shadow: 0 2px 3px whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
}

header button:hover{
    background-color: rgb(231, 25, 25) ;
}

.banner{
    background-color: rgb(254, 231, 76);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    border: 3px solid black ;
    box-shadow: 0 4px 5px rgb(107, 106, 106);
}

.banner img{
    height: 2.5rem;
    width: 1.8rem;
    align-self: center;
    cursor: pointer;
    margin-left: 35px;
}

.banner h1{
    text-align: center;
    margin-top: 5px;
}

.banner h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

section{
    display: flex;
    margin-top: 5rem;
}

.papas{
   position: absolute;
   top: 90vh;
   right: 0;
   z-index: -1;
   height: 350px;
}

.service-text h1{
   text-align: center;
   margin-top: 30px;
   text-transform: uppercase;
   background-color: rgb(210, 30, 30);
   width: 400px;
   padding-left: 80px;
   box-shadow: 3px 5px 5px rgb(153, 17, 17) ;
}

.service-text h1:hover{
    color: rgb(245, 223, 25);
}

.servicios{
    display: flex;
    margin: 10vh 25px;
    text-align: center;
}

.local,.delivery, .desafio{
    height: 5rem;
    box-shadow: 3px 3px 2px rgb(110, 106, 106);
}

.Local:hover,.Delivery:hover, .Desafíos:hover{
    border: 4px solid rgb(255, 173, 21);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 5px 5px black;
    background-color: #fff;
}

.local,.delivery, .desafio, figcaption{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin: 0 10px;
}

.local,.delivery, .desafio, p{
    margin: 0 30px;
}

.margin-bottom{
    border-bottom: 2px solid rgba(155, 155, 155, 0.551);
    color: white;
    margin: 0 50px
}

.blog{
   background-color: #fff;
    height: 900px;
    font-size: 15px;
    margin-top: 40px;
}

.fotopersona img{
    height: 200px;
}

.container-blog div{
    text-align: center;
}

.fotopersona .corona{
   height: 130px;
}

.fotopersona .corona:hover{
    z-index: 10;
    height: 150px;
    cursor: pointer;
}

.container-text-persona{
   display: flex;
   margin-top: 60px;
}

.blog figcaption{
    box-shadow: 3px 3px 5px black;
    width: 30rem;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(245, 223, 25);
}

.blog figcaption:hover{
   color: rgb(218, 72, 40);
   cursor: pointer;
}

.container-text-persona .minombre, .container-text-persona .empezar {
   margin-top: 30px;
   margin: 0 50px;
}

.container-text-persona .minombre p, .container-text-persona .empezar p{
    margin-top: 20px;
}

.container-text-persona .minombre:hover, .container-text-persona .empezar:hover {  
    border: 4px solid rgb(255, 173, 21);
    border-radius: 25px;
    box-shadow: 0 0 5px 5px black;
    background-color: #fff;
    padding: 20px 0;
}

figure .persona{
    height: 250px;
    width: 290px;
    border: 5px solid black;
    border-radius: 100%;
    box-shadow: 3px 3px 10px black;
 }

 .title-2{
    text-align: center;
    background-color: rgb(245, 223, 25);;
    padding-right: 30px;
    padding-bottom: 30px;
    box-shadow: 3px 5px 5px rgb(0, 0, 0) ;
    padding-left: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 4rem;
 }

 .title-2:hover{
    color: rgb(228, 36, 36);;
 }

 .minombre span {
    background-image: url("hamber/numeros.avif");
    background-size: cover;
    padding: 0 12px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 3px 3px 5px black;
 }

 .empezar span{
    background-image: url("hamber/numeros.avif");
    background-size: cover;
    padding: 0 7px 0 11px;
    border-radius: 80%;
    margin-right: 10px;
    box-shadow: 3px 3px 5px black;
 }

 .menu{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("hamber/fondohumo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-wrap: wrap;
    text-align: center;
 }

 .menu h1{
    display: inline-block;
    font-size: 3rem;
    border-bottom: 4px solid white;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-transform: uppercase;
 }

 .menu h1 span{
    color: rgb(245, 223, 25); 
 }

 .menu h1 span:hover{
    color: rgb(231, 25, 25) ;
 }

 .container-cards{
    display: flex;
    flex-wrap: wrap;
 }

 .menu-cards1 img{
    height: 200px;
    position: absolute;
    top:0;
    width: 100%;
 }

 .menu-cards2 img{
    height: 200px;
    position: absolute;
    top:0;
    width: 100%;
 }

 .menu-cards1{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
 }

 .menu-cards2{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
 }

 .price1,.price4{
    background-color: rgb(231, 25, 25) ;
    position: absolute;
    top: 30px;
    left: 23vw;
    z-index: 20;
    color: white;
    padding: 0 10px;
 }

 .price2,.price5{
    background-color: rgb(231, 25, 25) ;
    position: absolute;
    top: 30px;
    left: 54vw;
    z-index: 20;
    color: white;
    padding: 0 10px;
 }

 .price3,.price6{
    background-color: rgb(231, 25, 25) ;
    position: absolute;
    top: 30px;
    left: 86.5vw;
    z-index: 20;
    color: white;
    width: 80px;
 }

 .price1:hover,.price2:hover,.price3:hover,.price4:hover,.price5:hover,.price6:hover{
    color: rgb(245, 223, 25); 
    cursor: pointer;
 }

 .card h3{
   margin-top: 210px;
   margin-bottom: 10px;
 }

 .card{
    display: flex;
    background-color: #fff;
    color: black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    margin: 0 25px;
    box-shadow: 0 3px  rgb(245, 223, 25);
    z-index: 10;
 }

 .card:hover{
    transform: translateY(-15px);
    cursor: pointer;
 }

 .container-cards button{
    margin-top: 20px;
    width: 40%;
    border-radius: 25px;
    background-color: rgb(245, 223, 25);
    font-weight: 800;
    height: 30px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border: 3px solid black;
 }

 .container-cards button div{
    display: flex;
    justify-content: center;
    margin-left: 15px;
 }

 .container-cards button img{
    height: 20px;
    width: 30px;
    position: relative;
    margin-left: 0;
    padding: 0;
 }

 .container-cards button h4{
    margin-right: 0;
 }

 .container-cards button:hover{
    background-color: rgb(231, 25, 25) ;
    cursor: pointer;
 }

 .card h3{
    color: rgb(187, 26, 26) ;
    text-transform: uppercase;
    text-shadow: 1.5px 1px  black;
 }

 .card h3:hover{
    color: rgb(245, 223, 25);
 }

 .card p{
    margin-bottom: 10px;
 }

 footer{
    background-color: black;
    color: #fff;
 }

 .border h1{
    display: none;
 }

 .border{
    border-bottom: 2px solid white;
    padding: 30px 0;
    margin: 0 50px 50px 50px;
 }

 .final img{
    height: 40px;
    cursor:pointer;
 }

 .final{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
 }

 .final h4:hover{
    color: rgba(255, 255, 255, 0.841);
    cursor:pointer;
    transform: translateY(-5px);
 }

 @media (max-width:480px){

    nav a, .redes{
      display: none;
    }

    .menu-icon{
      display: initial;
      margin-left: auto ;
      height: 3rem;
      padding-right: 60px;
      cursor: pointer;
    }

    .tittle{
      font-size: 3rem;
    }

    nav ul{
      display: none;
    }

    .header-fondo{
      margin: 120px 10px 0 20px;
      padding-right: 10px;
      text-align: center;
      width: 600px;
    }

    .header-fondo h1{
      font-size: 4rem;
      width: 550px;
      margin-left: 20px;
    }

    .header-fondo h1 span{
       left: 50px;
    }

    .header-fondo button{
      height: 50px;
      width: 150px;
      font-size: 20px;
      border-radius: 50px;
    }

    .llama{
      display: none;
    }

    .banner{
      justify-content: space-around;
    }

    .papas{
      display: none;
    }

    .service{
      margin-top: 50px;
    }

    .service-text{
      margin: 0;
      height: 1080px;
    }

    .service-text h1{
      margin-top: 0;
      margin: 0 auto;
      padding: 0 40px ;
      text-align: center;
    }

    .servicios{
      flex-direction: column;
      margin: 50px 0;
    }

    .Local,.Delivery,.Desafíos{
      margin: 30px 120px;
    }

    .blog{
      flex-direction: column;
      height: 1200px;
    }

    .blog h1{
      writing-mode: horizontal-tb;
      padding: 0 0 0 20px;
      margin-bottom: 20px;
    }

    .container-text-persona{
      flex-direction: column;
    }

    .minombre p,.empezar p{
      margin: 0 90px 50px 90px;
    }

    .minombre,.empezar{
      padding-top: 50px;
    }

    .container-cards{
      display: flex;
      flex-wrap: nowrap;
      margin-left: 25px;
    }

    .menu-cards1,.menu-cards2{
      flex-direction: column;
    }

    .menu-cards1 button,.menu-cards2 button{
      margin: 40px 0;
    }

    .price1,.price2,.price3,.price4,.price5,.price6{
     display: none;
    }
   
    .card{
      width: 250px;
      height: 500px;
    }

    footer .final{
       flex-wrap: wrap;
       margin-right: 20px;
    }

    footer img{
      margin-top: 20px;
    }

   }